<h1>{{title}}</h1>
<!--
<div>
  <button (click)=" numero = numero + 1"> + 1</button>

  <span> {{numero}} </span>

  <button (click)="numero = numero - 1"> - 1</button>

</div>
-->

<!--

<div>
  <button (click)=" sumar()"> + 1</button>

  <span> {{numero}} </span>

  <button (click)="resta()"> - 1</button>
</div>

-->
<!--

<div>
  <button (click)=" acumular(1)"> + 1</button>

  <span> {{numero}} </span>

  <button (click)="acumular(-1)"> - 1</button>
</div>
-->


<h1>La base es <strong> 55 </strong></h1>
<div>
  <button (click)=" acumular(base)"> + 5</button>

  <span> {{numero}} </span>

  <button (click)="acumular(-base)"> - 5</button>
</div>

